<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DATAMASTER" connectionString="data source=mssql5.webio.pl,2401;User Id=developerdays_dduser;Password=DataMaster_27!;Database=developerdays_registration" providerName="System.Data.SqlClient" />
    <!--<add name="DATAMASTER" connectionString="data source=mssql2.webio.pl,2401;User Id=plssug_regtest;Password=DataMaster_27!;Database=plssug_sqlregtest" providerName="System.Data.SqlClient" />-->
    <!--<add name="DATAMASTER" connectionString="data source=mssql5.webio.pl,2401;User Id=developerdays_iduser;Password=DataMaster^27!;Database=developerdays_betatest" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DATAMASTER" connectionString="data source=mssql5.webio.pl,2401;User Id=developerdays_developeruser;Password=DataMaster_27!;Database=developerdays_developer" providerName="System.Data.SqlClient"/>-->
    <!--<add name="DATAMASTER" connectionString="data source=localhost;User Id=sa;Password=11111;Database=developerdays_registration" providerName="System.Data.SqlClient" />-->
    <!--<add name="DATAMASTER" connectionString="data source=localhost;User Id=sa;Password=11111;Database=plssug_sqlregtest" providerName="System.Data.SqlClient" />-->
    <!--<add name="DATAMASTER" connectionString="data source=localhost;User Id=sa;Password=11111;Database=developerdays_betatest" providerName="System.Data.SqlClient" />-->
    <!--<add name="DATAMASTER" connectionString="data source=mssql5.webio.pl,2401;User Id=developerdays_dduser;Password=DataMaster_27!;Database=developerdays_betatest" providerName="System.Data.SqlClient" />-->
  </connectionStrings>
  <appSettings>
    <!-- App configuration -->
    <add key="JobType" value="MAIL_DELIVERY_SUBSYSTEM" />
    <add key="TestMode" value="1" />
    
    <!-- IMAP configuration -->
    <add key="ImapServer" value="imap.gmail.com" />
    <add key="ImapPort" value="993" />
    <add key="ImapSsl" value="1" />
    <add key="InboxAddress" value="info@developerdays.pl" />
    <add key="InboxPassword" value="DataMaster_27!" />

    <!-- Database options configuration -->
    <add key="DbPrefix" value="" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>